.navbar {
  background-color: #cc322a;
}

.logo {
  object-fit: scale-down;
  transition: transform 0.7s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

.home-button,
.pokedex-button {
  &:hover {
    color: yellow !important;
  }
}

.navbar-item {
  color: white !important;
  font-size: 25px;
}

.button {
  margin-left: 5px;
}

.results {
  padding: 0px;
  font-size: 18px;
  margin: 0px;
}

li {
  cursor: pointer;

  &:hover {
    color: yellow;
  }
}
