@import 'node_modules/bulma/bulma.sass'; // ! comment out this line if you DO NOT want to use Bulma
@import '_layout.scss';
@import '_navbar.scss';
@import '_hero.scss';
@import '_card.scss';
@import '_footer.scss';
